<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my projetcts" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>
            
            <a aria-label="My Gitbook" title="Show my gitbook" target="_blank" href="https://www.gitbook.com/@{{site.gitbook_username}}">
                <svg class="icon icon-gitbook-alt"><use xlink:href="#icon-gitbook-alt"></use></svg>
            </a>
        </div>

    </div>
    {% include menu-search.html %}
</header>
