// COLORS
//main = #5d4d7a;
main = #93cdc7;	
mainHover = #FFFFFF;
mainLight = rgb(3,16,37)
hover = darken(main, 80%)
sec  = #FFFFFF
lightGray = #FFFFFF
texts = rgb(3,16,37)
colorcode = #C2C2C2
blackBase =  rgb(3,16,37)
neotree = #1cd8d2
// Resolution
cut = 37.5rem