// COLORS
//main = #5d4d7a;
main = #c1cdc1;	
mainHover = #C2C2C2;
mainLight = #3B3B3B
hover = darken(main, 80%)
sec  = #FFFFFF
lightGray = #C2C2C2
texts = #333333
colorcode = #C2C2C2
blackBase =  #c1cdc1
neotree = #c1cdc1
// Resolution
cut = 37.5rem